body {
  font-size: x-large;
  font-family: 'Slabo 27px', serif;
  letter-spacing: .5px;
  margin: 60px;
  height: 600px;
  width: 720px;
  background-color: white;
  padding: 20px;
}
html {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
}

#timesChecked, #parameters, #keyword {
  font-size: x-large;
}

#timesCheckedLabel {
  visibility: hidden;
}

#timesChecked {
  width: 17px;
}

#links {
  font-size: large;
  padding: 15px 10px 0px 10px;
}

.app, .response {
  margin: 1px;
}

.button {
  margin: 3px;
}

.app, .response {
  width: 460px;
}

.app {
  display: flex;
  justify-content: flex-end;
}

.application {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  font-size: inherit;
}

.description {
  text-align: justify;
}

#keepGoing {
  visibility: hidden;
